body{
    font-family: monospace;
    font-size: 100%;
}

header{
  background: linear-gradient(to bottom right, pink, yellow, pink, purple);
  width: 100%;
  padding: 20px 0px;
  margin: 5px 0;
  border-bottom: 2px solid purple;
  color: purple;
  text-align: right;
}

nav{
    float: left;
    width: 15%;
    background-image: linear-gradient(to bottom right, pink, yellow, pink, purple);
    border-top: 2px solid purple;
    border-bottom: 2px solid purple;
    margin: 0px;
    padding: 10px 5px;
}

nav:hover {
  background: linear-gradient(to bottom right, purple, pink, yellow, pink);
}

nav > ul{
    list-style-type: square;
    line-height: 2em;
}

nav > ul > li > a:hover{
    background: purple;
    color: white;
    font-weight: bolder;
    padding: 2%;
}

aside{
    float: left;
    width: 20%;
    color: purple;
    padding: 10px 50px;
    margin: 0px;
}

section{
    float: right;
    width: 50%;
    padding: 10px 30px;
    margin: 0px;
}

footer {
  clear: both;
  width: 100%;
  padding: 10px 0px;
  background-image: linear-gradient(to top left, pink, yellow, pink, purple);
  border-top: 2px solid purple;
  text-align: center;
  font-size: 80%;
  color: purple;
}