*{
    font-family: monospace;
    font-size: 100%;
    box-sizing: border-box;
}

body{
    background-color: white;
    margin: 0;
    padding: 0;
}


header{
  background: linear-gradient(to bottom right, pink, yellow, pink, purple);
  width: 100%;
  padding: 15px 25px;
  margin: 5px 0 10px 0;
  border-bottom: 5px solid purple;
}

header > h1{
    color: purple;
    text-align: right;
    font-size: x-large;
    margin: 0;
}

nav,aside, section{
    margin: 0;
    padding: 0;
}

nav{
    float: left;
    width: 15%;
    background: linear-gradient(to bottom right, pink, yellow, pink, violet);
    border-top: 3px solid purple;
    border-bottom: 3px solid purple;
    margin-left: 20px;
    padding: 10px 10px 15px 15px;
}

nav:hover {
  background: linear-gradient(to top left, pink, yellow, pink, violet);
}

nav > ul{
    list-style-type: square;
    padding-left: 20px;
    line-height: 2;
    text-align: left;
    margin: 0;
}

nav > ul > li > a:hover{
    background: purple;
    color: white;
    font-weight: bold;
    padding: 1%;
}

aside{
    float: left;
    width: 20%;
    color: purple;
    padding: 10px 15px;
    margin-left: 15px;
}

section{
    float: right;
    width: 50%;
    color: black;
    text-align: left;
    padding: 10px 20px;
    margin-right: 20px;
}

footer {
  clear: both;
  width: 100%;
  margin-top: 20px;
  padding: 10px 0;
  background: linear-gradient(to top left, pink, yellow, pink, violet);
  border-top: 3px solid purple;
}

footer > p{
    text-align: center;
    color: purple;
    width: 80%;
    margin: 5px auto;
}